@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(113.49deg, rgb(111, 110, 110) -30.3%, #000000fc 58.12%)
    no-repeat;
    font-family: "Roboto", serif;
    color: #fff;
    /* background: #000; */
}

header{
    max-width: 75%;
    min-height: 80px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 15px;
    /* background: linear-gradient(113.49deg, rgb(0, 251, 255) -30.3%, #a817b8fc 58.12%) */
    background: rgba(0, 0, 0, 0.388);
    border: solid 1px;
    border-color: rgb(198, 71, 71);

    margin-bottom: 100px;
    
}

li{
    list-style: none;
}

a{
    color: #ffff;
    text-decoration: none;
    font-family: Roboto, serif;
}

.navbar{
    max-width: 1240px;
    margin: auto;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px
}
/* 
.nav-branding{
    font-size: 2rem;
} */

.logo{
    max-width: 90px;
    box-sizing: border-box;
    padding-top: 10px;
}

.nav-link{
    transition: 0.1s ease;
}

.nav-link:hover{
    color:rgb(0, 0, 0);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }
/* animation =============

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    } animation ============= */   

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 20px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.899);
        width: 100%;
        text-align: center;
        transition: 0.2s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .main__image{
        display: none;
    } 

}

/* Home */


.content {
    max-width: 75%;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: space-between;
    
}


.main__text {
    /* flex-basis: 490px; */
    line-height: 2.6;
    border: solid 1px;
    border-radius: 15px;
    border-color: rgb(198, 71, 71);
    padding: 20px;
}

.main__titel {
    font-size: 50px;
    line-height: 1.1;
}

.text__info {
    font-size: 20px;
}

.main__img{
    flex-basis: calc(100% - 490px);
}

.main__btn {
    font-size: 20px;
    border-radius: 2px;
    padding: 10px 20px;
    margin-bottom: 300px;
    background: rgb(198, 71, 71);
}


.main__img{
    width: 100%;
}   

